
      <h1>Hola, {{ title }}</h1>
      <p >
        Mi nombre es Alicia y actualmente en mi trabajo estan
        desarrollando con Angular para migrar sistemas antiguos hechos en forms
        y plsql de la Contaduria, es sumamente importante aprender este framework de desarrollo frontend para poder aportar a los proyectos y seguir creciendo profesionalmente.
      </p>
<h2>variable "nombre"  tiene este  valor:  {{ nombre }}</h2>

<button (click)="cambiarNombre()">
  Cambiar nombre
</button>
<h3>Imágen</h3>
<img [src]="imageUrl" alt="foto" width="500" >

<router-outlet />