
      <h1>Hello, {{ title }}</h1>
      <p>
        Hola, mi nombre es Alicia y actualmente en mi trabajo estan
        desarrollando con Angular para migrar sistemas antiguos hechos en forms
        y plsql de la Contaduria, es sumamente importante aprender de manera
        correcta a utilizarla ya que seré parte del equipo de desarrollo 
      </p>
<h2>variable "nombre" en el componente principal tiene este  valor: {{ nombre }}</h2>

<button (click)="cambiarNombre()">
  Cambiar nombre
</button>
<h3>Imagen</h3>"
<img src="/public/assets/foto.jpg" alt="Mi imagen"   > 
